body
{
	background-color: black;
}


.card
{
	background-image: radial-gradient(circle, #303030, #2b2b2b, #272727, #222222, #1e1e1e, #1b1b1b, #171717, #141414, #101010, #101010, #101010);
    text-align: center;
    color: white;
    padding: 10px;
    border-radius: 5%;
    margin-top: 10px;
    height: 600px;
}

.card button
{
	width: 90%;
    background-color: #D91C3C;
    border: 0px;
    border-radius: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    bottom: 15px;
}


.card button:hover
{
	 background-color: #FA2348;
}


nav
{
	border-bottom: 2px solid #FA2348;
}

#slika
{
	transition: 0.25s;
}


#slika:hover
{
	transform: translateY(-15px);
}