.registration
{
    background-color: black;
    text-align: center;
    border-top: 2px solid #D91C3C;
}

.registration h1
{
    padding-top: 75px;
    margin: 0;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    color: white;
}

.registration a
{
    padding-top: 15px;
    font-size: 16px;
    font-weight: 600;
    color: #D91C3C;
    text-decoration: none;
}

.registration a:hover
{
	color: #FA2348;
}

.registration #registration_message
{
	color: red;
	font-size: 18px;
	text-align: left;
	padding-bottom: 15px;
}

#registerbtn
{
	margin-top: 25px;
	width: 100%;
    background-color: #D91C3C;
    border: 0px;
    border-radius: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

#registerbtn:hover
{
	width: 100%;
	border: 0px;
    border-radius: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
	background-color:#FA2348;
	color: white;
}